# Data folder (ignore large audio files)
data/*
!data/.gitkeep
*.flac

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Anaconda project files
anaconda_projects/
*.db

# Anaconda project files
anaconda-project.yml
anaconda-project-lock.yml

# (Optional) Ignore text logs/output files — be careful with this
*.txt

models/
*.pth

